@model IEnumerable<Spendopia.Models.Category>

<div class="row">
    <div class="col-md-7">
        <ejs-grid id="categories" dataSource="@Model" allowPaging="true" gridLines="None">
            <e-grid-pagesettings pageSize="8"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Category" field="TitleWithIcon"></e-grid-column>
                <e-grid-column headerText="Type" field="Type"></e-grid-column>
                <e-grid-column headerText="Actions"></e-grid-column>
            </e-grid-columns>

        </ejs-grid>
    </div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <lord-icon src="https://cdn.lordicon.com/fqrjldna.json"
                       trigger="loop"
                       delay="2000"
                       colors="primary:#ffffff,secondary:#691799"
                       style="width:150px;height:150px">
            </lord-icon>
        </div>
    </div>
</div>
